@font-face {
	font-family: Xuan-font;
	src: url("fonts/xuan2-regular.otf") format("opentype");
}

* {
    font-family: 'Xuan-font';
}

body, html {
    height: 100%;
}

body {
    overflow-x: hidden;
}

#video_background {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
}

#image_background {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
  

h1, h2, h3, h4, h5 {
    color: white;
}

h1 {
    font-size: 5em;
    text-shadow: black 1px 0 20px;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

a:link, a:visited {
	text-decoration: none;
	color: white;
}
.nav_item a:hover {
	text-decoration: none;
    color: rgb(80, 80, 80);
    text-shadow: black 1px 0 20px;
}

a:hover {
	text-decoration: none;
    color: rgb(80, 80, 80);
}

@media only screen and (min-width: 768px) {
    .content {
        min-height: 100%;
        /* margin: 0 auto -6em; */
    }
}

.content {
    min-height: 100%;
    /* margin: 0 auto -6em; */
}

.footer {
    height: 5em;
    text-align: center;
}

.icon_links {
    padding: 1em;
    width: 5em;
}

.icon_links:hover {
    transform-origin: center;
    transform: scale(1.1);
}


/* HOME */
#box_name {
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

.nav_item {
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-shadow: black 1px 0 20px;
}


@media only screen and (min-width: 768px) {
    .nav_text:hover {
        transform-origin: top right;
        transform: scale(1.1);
    }
}

/* PAGES MENU */
#head {
    padding: 1em;
    text-shadow: black 1px 0 20px;
}
.title_link:hover {
    cursor: pointer;
    text-decoration: none;
    color: rgb(80, 80, 80);
    text-shadow: black 1px 0 20px;
}

.menu_item {
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.5em;
    text-shadow: black 1px 0 20px;
    display: inline-block;
    
}

.menu_item:hover {
    text-decoration: none;
    color: rgb(80, 80, 80);
    text-shadow: black 1px 0 20px;
    transform-origin: center;
    transform: scale(1.15);
}


/* CONTENT PAGE */

#presentation {
    margin: 1em;
}

.hover-img-box {
    /* opacity: 0; */
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    overflow: hidden;
}
.hover-img-box:hover .img-hover {
    filter: brightness(30%);
    /* opacity: 0.9; */
    transform: scale(1.1);

}

.hover-img-box:hover .mask {
    opacity: 1;
}

.hover-img-box {
    position: relative;
}

.img-hover {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }

.mask {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text-title {
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
}

.text-description {
    color: white;
}

